/* =========== Home ============= */

#banner{
    border-radius: 20px;
    margin: 20px 0px 50px 0px;
    padding: 22em 2em 0em 2em;
    height: 10em;
    background-color: #C6C6C6;
    color: white;
    text-decoration: none;
    background-size: 100% 100%;
}

#banner-title{
    font-size: 42px; 
    text-shadow: 2px 2px 2px #000000;
    font-weight: 400;
    margin-bottom: 10px;
}

#banner-text{
    font-size: 20px; 
    text-shadow: 2px 2px 2px #000000;
    line-height: 1.2em;
}

/* =========== Info ============= */

#perfil-conteiner{
    margin: 1em 0em 0em 0em;
}

#perfil-img{
    margin: 1.5em 0em 1em 0em;
    float: left;
    width: 20em;
}

#perfil-text{
    float: right;
    margin: 1.5em 0em 1em 0em;
    padding: 2em 2em 0em 2em;
    width: 28em;
    font-size: 24px;
    line-height:normal;
}