/* =========== About ============= */

.h2-about{
   font-size: 32px; 
}

.section-about{
    font-size: 24px;
    font-weight: 100;
	line-height: 1.5em;
    padding: 1em 1em 1em 1em;
}

.separator-bar{
    background-color: darkgray;
    height: 1px;
}

#place-about{
    font-size: 18px;
    font-weight: 100;
    margin: 0.5em 0em 2em 0em;
}