/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700');

body {
    font-family: 'Open Sans', sans-serif !important;
    color: #444 !important;
}


/*body {
    width: 68em;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #666;
    background: #fff;
	font-size: 16px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 0em 2em 0em 2em;
}*/



/* =========== Typo ============= */

h1 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
}


/*h1 {
	font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 0;
}
h2 {
	font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h3 {
	font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h4 {
	font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
}
h5 {
	font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
}

h6 {
	font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}*/

/* =========== Links ============= */







/*

a:link {
    color: #444; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #DE484A;
    background-color: transparent;
    cursor:pointer;
}

a:active {
    color: #444;
    background-color: transparent;
}
*/








/* =========== Hearde ============= */


.navbar-nav{
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    font-weight: 600;
}

ul.navbar-nav li a:hover, ul.navbar-nav li a:active {
    color: #DE484A !important;
}

nav .navbar-nav li a{
    color: #444 !important;
}


.perfil-title a:hover {
    color: #DE484A !important;
}

a {
    color: #444 !important;
}

a:hover {
    color: #444 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}


.isologo{
    margin: 0 0 0 -15px;

}

.logo-img{
    float: left;
    width: 50px;
    height: 50px;
}



.logo-title {
    font-size: 20px;
    float: right;
    text-align: left;
    padding: 3px 0px 0px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
	color: #444;
	line-height: 22px;
}





.menu {
    text-align: center;
    float: right;
}
.menu-items ul li {
    display: inline;
    padding-left: 0.6em;
    font-weight: 600;
}

/* ========= Separator ========= */

.separator{
    background-color: rgb(206, 204, 204);
    height: 1px;
    clear: right;
    width: 100%
}

.sub-separator{
    background-color: darkgray;
    height: 0.1em;
    width: 660px;
    clear: right;
}


/* =========== Slider ============= */

.slider-contener{
    margin: 20px 0px 0px 0px;
 }
 
 .slider-title{
    font-size: 32px;
    font-weight: 400;
 }

 .slider{
     border-radius: 18px;
     margin: 10px 0 15px 0;
     height: 400px;
     padding: 15em 1em 0em 1em;
     color: white;
     /*background-size: 100% 100%;*/
     background-color: #a9a9a9;
 }

 .sliderText{
    border-radius: 20px;
    border: 2px solid #a9a9a9;
    width: 20em;
    height: 24em;
    padding: 2em 1em 0em 1em;
    margin-bottom: 3em;
    float: left;
}

.tag{
    border-radius: 18px;
    border: 1px solid;
    font-size: 18px;
    margin: -1.5em 0em 0em 0em;
    text-align: center;
}

.tagNew{
    border-color: red;
    color: red;
    width: 70px;
    height: 28px;
}


.tagComingSoon{
    border-color: orange;
    color: orange;
    width: 140px;
    height: 28px;
}

.tagWIP{
    border-color: purple;
    color: purple;
    width: 70px;
    height: 28px;
}

 
/* ========== Text =============*/

.text{
    font-size: 22px;
    font-weight: 100;
	line-height: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
}

.textBlock{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
}

/* ========== Sites =============*/
.linksbox{
    border-radius: 20px;
    border: 2px solid;
    width: 8em;
    height: 2em;
    float: left;
    font-size: 32px;
    text-align: center;
    line-height: 0;
    margin: 0em 0em 2em 0em;
    padding: 2em 0em 0em 0em;
}

/* =========== Footer ========== */

#footertext {
	font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555555;
    padding: 0em 0em 1em 0em;
    float: right;
    text-align: right;
}






/* =========== Home ============= */

#banner{
    padding: 20em 2em 2em 2em;
    background-color: #555555;
    border-radius: 18px;
    color: aliceblue;
    margin: 1em 0;
    /*border-radius: 20px;
    margin: 20px 0px 50px 0px;
    
    height: 10em;
    background-color: #C6C6C6;
    color: white;
    text-decoration: none;
    background-size: 100% 100%;*/
}

#banner-title{
    font-size: 42px; 
    font-weight: 400;
    margin-bottom: 10px;
}

#banner-text{
    font-size: 20px; 
    line-height: 1.2em;
}

/* =========== Info ============= */

.perfil{
    margin: 15px 0 15px 0;
}

.perfil-img{
    margin: auto;
    padding: 0;
    width: 15em;
    height: 15em;
    background-size: 100% 100%;
    background-image: url(img/perfil/perfil-home.png);
}

.perfil-text{
    font-size: 24px;
    vertical-align: middle;
    padding: 5% 0;
    line-height:normal;
    font-weight: 100;

    /*float: right;
    
    padding: 1.5em 0em 0em 0em;
    width: 32em;

    
    line-height:normal;*/
}








.collapse .navbar-collapse{
    margin: -20px !important;
}


/* ====== Bannner ====== */

#banner{
    border-radius: 20px;
    margin: 20px 0px 30px 0px;
    padding: 22em 2em 0em 2em;
    height: 10em;
    background-color: #C6C6C6;
    color: white;
    text-decoration: none;
    background-size: 100% 100%;
}

.screenShots{
    float: left;
    width: 12.5em;
    height: 12.5em;
    margin: 1em 0.5em 2.5em 0em;
    border: 2px solid darkgray;
    background-color: whitesmoke;
}

.tagTools{
    border-radius: 5px;
    border: 2px solid darkgray;
    width: 6em;
    height: 2em;
    float: left;
    text-align: center;
    padding: 0.4em 0em 0em 0em;
    margin: 0em 1em 0.5em 0em;
}