/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700');


body {
    width: 68em;
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #666;
    background: #fff;
	font-size: 16px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

/* =========== Typo ============= */

h1 {
	font-size: 48px;
    margin: 0 0 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
	color: #444;
	line-height: 1.1em;
}
h2 {
	font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	line-height: 1.1em;
}
h3 {
	font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	/*color: #444;*/
}
h4 {
	font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
}
h5 {
	font-size: 24px;
    margin: 0 0 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
	line-height: 1.1em;
}
h6 {
	font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
	color: #444;
	/*line-height: 1.1em;*/
}

/* =========== Links ============= */

a:link {
    color: #444; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #444;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #444;
    background-color: transparent;
    text-decoration: underline;
}

/* =========== Hearde ============= */

header{
    margin-top: 1em;
}
#header-end{
    background-color: darkgray;
    height: 0.3em;
    clear: right;
}

/* =========== Menu ============= */

#menu-separador {
    float: right;
}
#menu {
    text-align:center;
    margin: 0 auto;
    margin-top:20px;
}
#menubar ul li {
    display: inline;
    padding-top: 1em;
    padding-left: 0.6em;
    margin: 0px;
    border-radius:2px;
    font-weight: 600;
}
#menubar ul li:hover {
    cursor:pointer;
    color: #DE484A;
}

/* =========== Footer ============= */

#footer-bar{
    background-color: darkgray;
    height: 0.3em;
}
#footer-text{
    margin-top: -2em;
    float: right;
}










